# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local environment files
.env*.local

# TypeScript
*.tsbuildinfo

# IDEs
.idea
.vscode

# Expo / React Native build outputs
# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserdatad/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/

# Android
android/.gradle/
android/build/
android/app/build/
android/.cxx/

# Certificates / keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

app-example
